<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520113159678-93l776qtiatrhduuftjqdg8u38ebsols.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520113159678-93l776qtiatrhduuftjqdg8u38ebsols</string>
	<key>API_KEY</key>
	<string>AIzaSyB5ZjRF_4rnHK2gSCtOykpjYGmLm2yMGxE</string>
	<key>GCM_SENDER_ID</key>
	<string>520113159678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Essential</string>
	<key>PROJECT_ID</key>
	<string>willdoro-13829</string>
	<key>STORAGE_BUCKET</key>
	<string>willdoro-13829.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520113159678:ios:7910ace8341b6ac9eed4af</string>
</dict>
</plist>